.de3_box{
    max-width: 750px;
    width: auto;
    background-color: #f4f5f7;
    margin: 48px 8px 80px 8px;
    position: relative;  
    border-radius: 3px;
}
.de3_close_button{
        border-radius: 50%;
        font-size: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
}
    
.de3_name_edit{
    overflow: hidden;
    overflow-wrap: break-word;
    height: 32px;
    display: none            
}
.describe_editable{
    display: inline;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
.box_body{
    margin: 8px;
} 
ul {
    margin: 0;
    padding: 0;
}                              
.box{
        resize: none;
        height: 108px;
        width: 90%
}       
                    
.de3_label{
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
}
.de3_label:hover{
    background-color: pink;
}
