body{}

.de3_box{
    max-width: 750px;
    width: auto;
    background-color: #f4f5f7;
    margin: 48px 8px 80px 8px;
    position: relative;  
}
    .de3_close_button{
        border-radius: 50%;
        font-size: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .de3_head{}
        .de3_name{}
            .de3_name_display{}
            .de3_name_edit{
                overflow: hidden;
                overflow-wrap: break-word;
                height: 32px;
                display: none
            }
            .de3_in_list{}
       
    .de3_body{}
        .de3_main_col{}
            .de3_describe{}
            .de3_detail{}
                .de3_detail_label{}
                    .describe_editable{
                        display: inline;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: bold;
                    }
                        #describe_editable{}
                            .describe_edit{}
                                
                                .describe_control{}
                                    .control_save{}
                                    .describe_control_cancel{}
                .describe_content{}
        .de3_popup{
            background: plum;
            border-radius: 3px;
            position: absolute;
            width: 304px;
            z-index: 70;
            max-height: 889px;
        }
            .popup_head{
                height: 40px;
                position: relative;
                margin-bottom: 8px;
                text-align: center;
            }
                .popup_close_button{
                    padding: 10px 12px 10px 8px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                }
            .popup_body{
                padding: 0 12px 12px 12px;
            }
                .label_list{
                    list-style: none;
                }
                    .label1{
                        padding-right: 40px;
                        margin: 0 0 4px 0;
                        position: relative;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        width: 100%;  
                    }
                        .label{
                            border-radius: 3px;
                            font-size: 12px;
                            font-weight: 700;
                            min-height: 20px;
                            padding: 8px;
                            position: relative;
                            background-color: red; 
                            width: 100%;  
                            box-shadow: -8px 0 #519839;       
                        }
                .popup_deadline_body{
                    display: block;
                }
                    .deadline_date{
                        padding-right: 12px;
                    }
                    .deadline_date, .deadline_time{
                        float: left;
                        width: 50%;
                        box-sizing: border-box;
                    }
                        .date_input, .time_input{
                            margin: 4px 0 12px 0;
                            width: 100%;
                        }
                .add_link_input{
                    width: 100%;
                }
        .box{
            resize: none;
            height: 108px;
            width: 90%
        }