.de3_box{
    max-width: 750px;
    width: auto;
    background-color: #f4f5f7;
    margin: 48px 8px 80px 8px;
    position: relative;  
    border-radius: 10px;
}
.de3_close_button{
        border-radius: 50%;
        font-size: 15x;
        position: absolute;
        top: 5px;
        right: 5px;
}
    
.de3_name_edit{
    overflow: hidden;
    overflow-wrap: break-word;
    height: 32px;
    display: none            
}
.describe_editable{
    display: inline;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
.box_body{
    margin: 8px;
} 
ul {
    margin: 0;
    padding: 0;
}                              
.box{
        resize: none;
        height: 108px;
        width: 90%
}       

.box_head{
    font-size: 18px;
    display: inline;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 8px 5px 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li.todo_checked {
    text-decoration: line-through;
}

.progress_close, .file_close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 9px 5px 9px;
    font-weight: bold;
    font-size: 20px;
}

.progress_close:hover, .file_close:hover, .member_close:hover, .label_close:hover , .cmt_close:hover{
    background-color: #726f6f;
    color: white;
}
.linki{
    width: 100%;
}
.de3_mem {
    display: inline-block;
    padding-left: 15px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 5px;
  }
.de3_label{
    display: inline-block;
    background-color: yellow;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 5px;
}
  
.member_close, .label_close, .cmt_close{
    padding: 0 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    border-radius: 15px;
}
                    
.de3_label:hover, .de3_mem:hover{
    background-color: pink;
}

.de3_main_col{
 margin-bottom: 15px;
}
