#task_list{
    display: inline-flex;
    overflow: -webkit-paged-y;
    min-height: 100px;
    max-height: auto;
}
.task_box{
    width: 250px;
    display: inline-grid;
    margin: 10px;
    height: -webkit-fill-available;
}
#new_list_input{
    width: 100%;
}
#add_list_btn{
    width: 30%;
    float: right;
}
.list_name{
    overflow: hidden;
    word-wrap: break-word;
}
.list_delele {
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    border-radius: 15px;
}
 
.list_delele:hover,
.list_delele:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.panel-body{
    margin: 5px;
    padding: 5px
}