/* .progress_list{} */
    
    ul li {
        cursor: pointer;
        position: relative;
        padding: 5px 8px 5px 8px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
       
    }
    ul li.todo_checked {
        text-decoration: line-through;
    }
    
    .progress_close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 9px 5px 9px;
    }
    .progress_close:hover {
        background-color: #726f6f;
        color: white;
    }
    